{
  "root": true,
  "ignorePatterns": ["bld", ".bld-cache"],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/default"],
      "parserOptions": {
        "project": "**/tsconfig.json"
      }
    },
    {
      "files": ["packages/boring-router/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"],
      "settings": {
        "import/core-modules": ["boring-router"]
      }
    }
  ]
}
