{
  "root": true,
  "ignorePatterns": [
    "/packages/boring-router/src/",
    "/packages/boring-router/bld/",
    "/packages/boring-router-react/src/",
    "/packages/boring-router-react/bld/",
    "/packages/examples/basic/",
    "/packages/examples/basic/bld/",
    "/packages/examples/lifecycle-hooks/",
    "/packages/examples/lifecycle-hooks/bld/",
    "/packages/examples/parallel-routes/",
    "/packages/examples/parallel-routes/bld/",
    "/packages/examples/route-content/",
    "/packages/examples/route-content/bld/"
  ],
  "extends": ["eslint:recommended"],
  "env": {
    "node": true,
    "es2020": true
  },
  "overrides": [
    {
      "files": ["**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/default"],
      "parserOptions": {
        "project": "**/tsconfig.json"
      }
    },
    {
      "files": ["packages/boring-router/test/**/*.{ts,tsx}"],
      "extends": ["plugin:@mufan/override-dev"],
      "settings": {
        "import/core-modules": ["boring-router"]
      }
    }
  ]
}
